<div class="chat-container" data-controller="chat">
  <div class="chat-header">
    <div class="mode-toggle">
      <%= link_to "Server Sent Events", root_path(mode: 'sse'), class: @current_mode == 'sse' ? 'active' : '' %>
      <%= link_to "Turbo Streams", root_path(mode: 'turbo'), class: @current_mode == 'turbo' ? 'active' : '' %>
    </div>
  </div>

  <% if @current_mode == 'turbo' %>
    <%= render template: 'messages/index' %>
  <% else %>
    <%= render 'sse_form' %>
  <% end %>
</div>